/*******************************/
/* Website Header */
/*******************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  background-color: #fdf2e9;
  /* Because we want the header to be sticky later. */
  height: 9.6rem;
}
.logo {
  height: 2.2rem;
}

/*******************************/
/* NAVIGATION */
/*******************************/

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.7rem;
  font-weight: 600;
  transition: all 0.3s;
}
.main-nav-link:active,
.main-nav-link:hover {
  color: #cf711f;
}

/* Joining classes together makes the selector more specific (without using a spacebar between).
Check the Selector specifity of the following element by hovering over the selector. */
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  background-color: #e67e22;
  border-radius: 9px;
  color: #fff;
}

.main-nav-link.nav-cta:active,
.main-nav-link.nav-cta:hover {
  background: #cf711f;
}

/*******************************/
/* Hero Section */
/*******************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 3.2rem 9.6rem 3.2rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 9.6rem;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 2.4rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 900;
}

/*******************************/
/* FEATURED IN SECTION */
/*******************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  color: #888;
  text-align: center;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: contrast(0%);
}

/*******************************/
/* HOW IT WORKS SECTION */
/*******************************/

.section-how {
  padding: 9.6rem 0;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before {
  content: "";
  display: block;
  width: 60%;
  /* the following creates vertical padding based on step-img-box width.*/
  padding-top: 60%;
  border-radius: 50%;
  z-index: -2;
  background-color: #fdf2e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::after {
  content: "";
  display: block;
  width: 45%;
  padding-top: 45%;
  position: absolute;
  border-radius: 50%;
  background-color: #fae5d3;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-number {
  font-size: 8.6rem;
  color: #ddd;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img {
  width: 35%;
}

/*******************************/
/* MEAL PLAN SECTION */
/*******************************/

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  overflow: hidden;
  transition: all 0.3s;
}

.meal:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  transform: translateY(-1.2rem);
}

.meal-img {
  width: 100%;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem;
}

.meal-tag {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1.2rem;
}

.tag {
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}

/*******************************/
/* TESTIMONIALS SECTION */
/*******************************/
.section-testimonials {
  display: grid;
  background: #fdf2e9;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.5s;
}

/* Zoom effect on gallery images */
.gallery-item img:hover {
  transform: scale(1.1);
}

/*******************************/
/* PRICING/FEATURES SECTION */
/*******************************/

.section-pricing-features {
  padding: 9.6rem 0;
}

.pricing-card {
  border-radius: 11px;
  width: 75%;
  /* margin: 0 auto; */
  padding: 4.6rem;
  overflow: hidden;
}

.pricing-plan-starter {
  border: 2px solid #fae5d3;
  justify-self: end;
}

.pricing-plan-complete {
  justify-self: start;
  background-color: #fdf2e9;
  border: 2px solid #fdf2e9;
  position: relative;
}

.pricing-plan-complete::after {
  content: "Best value";
  position: absolute;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #ffd43b;

  padding: 0.8rem 8rem;
  color: #333;
  transform: rotate(45deg);
  top: 5%;
  right: -20%;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  font-size: 2rem;
  text-transform: uppercase;
  color: #cf711f;
  font-weight: 600;
  margin-bottom: 3.2rem;
  letter-spacing: 0.75px;
}

.plan-price {
  font-size: 6.2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.plan-sign-up {
  margin-top: 4.8rem;
  text-align: center;
}

.price-info-text {
  font-size: 1.6rem;
  text-align: center;
}

.feature-icon {
  height: 3.2rem;
  width: 3.2em;
  color: #e67e22;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  color: #333;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  line-height: 1.8;
  font-size: 1.8rem;
}

/* 
.test {
  background-color: red;
  padding: 100px;
  width: 1000px;

  If we use the max-width property, the child element (.test div) adopts the same width as the parent element (body) in case we make the viewport smaller than its max-width value. If the size of the viewport is smaller than the actual value of the max-width (in this case less than 1000 px) then the element will adapt 100% width of the viewport.
  
  If we have used the % value instead of px, the element will constantly adapt its size in relation to the viewport, not to its parent element.
  max-width: 1000px;

  
  REM stands for Root Element Font-size. 
  By default 1 REM is equal to 16px. As you possibly are aware, we change the size of REM on the HTML element to 62.5%.
  Why use REM for font sizes? Well, it is powerful for creating reponsive website layouts. By using rem and changing its default size, we can change the size of the whole layout (if we use the rem scaling value for width, height and size properties).
 
  font-size: 3rem;
} */
