/* 

--- 01. TYPOGRAPHY SYSTEM

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

**** Font weights:
Default: 400


**** Line heights:
Default: 1

--- 02 COLOURS

MAIN COLOR: #e67e22

TINTS:
SHADES:
ACCENTS:
GREYS: 
#555

--- 03. IMAGES
--- 04. ICONS

--- 05. SHADOWS

--- 06. BORDER-RADIUS

--- 07. WHITESPACE
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* If we use the following font-size of 10 px for rem, this value will be applied across all fonts on the website. */

  /* font-size: 10px; */

  /* 
  The solution with font-size: 10px has its drawbacks. Some people may had to change their default web browser font size for accessibility reasons. Also, be aware that different web browsers have different default values. In this case it is best to scale the default rem using %, not px.
  Instead of using a fixed value like 10px, we can use 62.5%.
  10 px / 16 px = 0.625
  0.625 * 100 = 62.5 %
  */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-img {
  width: 100%;
}

/* 
.test {
  background-color: red;
  padding: 100px;
  width: 1000px;

  If we use the max-width property, the child element (.test div) adopts the same width as the parent element (body) in case
  we make the viewport smaller than its max-width value. If the size of the viewport is smaller than the actual value of the max-width (in this case less than 1000 px) then the element will adapt 100% width of the viewport.
  
  If we have used the % value instead of px, the element will constantly adapt its size in relation to the viewport, not to its parent element.
  max-width: 1000px;

  
  REM stands for Root Element Font-size. 
  By default 1 REM is equal to 16px. That's because we haven't specified the size on the HTML element.
  Why use REM? Well, it is powerful for creating a reponsive website layouts. By using rem and changing its default size, we can change the size of the whole layout (if we use rem as a value for width, height and size).
 

  font-size: 3rem;
} */
